.Planebtn{
display: block;
  width: 70;
  margin: 0 auto;
   background-color: #dcf0f7;
  color: white;
  padding: 20px;
  
  border: none;
  border-radius: 10px;
  font-weight: 500;
  transition: none;
}

.Planebtn:hover {
    background-color: #dcf0f7; 
    color: white;
    cursor: default; 
}



.booking-status-plane{
    margin-bottom: 0.5rem;
}

.Upcomingstatus{
     background-color:  #dcf0f7;
    color: #8999f5;
    border-radius: 12px;
    padding: 0.2rem 0.8rem;
    font-size: 0.75rem;
    font-weight: 600;
}